.css-18ni7ap
{
   background-color:black;
   
}

.st-c6
{
   color:white;
   
}

.stButton p 
{
   color:white;
   
}
.css-87mhkc 
{
   color:white;
   
}

.e16nr0p34 p 

{
   color:white;
}

.css-94h1ow
{
   border:none;
   
}

.css-1p8yj29
{
   border:none;
   
}

h2
{
   font-size:26px;
   
}

h3
{
   font-size:18px;
   
}